@{
    ViewData["Title"] = "Add word to topic.";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>You can add new words to the topic.</h1>
</div>
