@model vocabulary_app.Models.Topic
@{
    ViewData["Title"] = "TopicWordsIndex";
}

<h1>Test Result</h1>
<table class="table table-dark  table-striped">
    <thead>
        <tr>
            <th>
                Original Value
            </th>
            <th>
                Your Answer
            </th>
            <th>
                Correct
            </th>
            <th>
                Correct Answer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewBag.WordTestAnswers)
        {
            <tr>
                <td>
                   @(i.OriginalValue)
                </td>
                <td>
                    @(i.Translation)
                </td>
                <td>
                    @(i.Correct ? "✔" : "—")
                </td>
                <td>
                    @(i.CorrectTranslation)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
